.div1 {
	font: 13px/20px "Times New Roman";
    color: green;
}
.div2 {
    font: bold 40px Arial;
	color: red;
	width: 300px;
}
.div3 {
    font: bold italic 40px/60px Arial;
    text-indent: 50px;
}