h1, h2{
text-align: center;
}
.green {
color: green;
}
h1{
font-size: 40px;
color:blue;
}
h2{
font-weight: normal;
font-size: 30px;
}
p, ul{
text-align: justify;
}
p{
line-height: 25px;
font-family: arial;
text-indent: 50px;
width: 500px;
}
ul{
line-height: 20px;
width: 400px;
}